.contact-content__header {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 4px;
}

.contact-content__avatar {
  width: 100px;
  height: 100px;
  font-size: 50px;
}

.contact-content__name {
  font-size: 18px;
}

.contact-content__body-item {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 4px;
}

.contact-content__body-item-link {
  color: #2c5cc5;
  font-weight: bold;
}

.contact-content__body-item-note {
  opacity: 0.5;
}
