.filters {
  background-color: #f5f7f9;
  padding: 15px;
}

.filters__title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
}

.filters__form-group {
  font-size: 14px;
}
