.profile-dropdown {
  > .btn {
    font-size: 12px;
  }

  .dropdown-menu {
    padding-top: 0;
  }
}

.profile-dropdown__userinfo {
  border-bottom: 1px solid #ebeff3;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0.5rem;
}
