.ticket-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 4px;
}

.ticket-content__title {
  font-size: 18px;
  font-weight: bold;
}

.ticket-content__body {
  .card {
    border-color: #bbdcfe;
    background-color: #e5f2fd;
  }

  .card-header {
    background-color: transparent;
    border-color: #bbdcfe;
  }
}

.ticket-content__avatar {
  width: 44px;
  height: 44px;
}
