body {
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size: 14px;
  color: $text;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  vertical-align: bottom;
}

.ul-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu {
  font-size: inherit;
}

.pagination {
  margin: 15px 0 0;
}

.page-link {
  color: inherit;
}

.btn {
  min-height: 31px;
  min-width: 31px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: auto 14px;

  &--toggle {
    background-image: url("../img/hide-filters.svg");
  }

  &--show {
    transform: rotateY(180deg);
  }

  &--prev {
    background-image: url("../img/chevron-left-solid.svg");
  }

  &--next {
    background-image: url("../img/chevron-right-solid.svg");
  }

  &--star {
    background-image: url("../img/star-regular.svg");
  }
}
